<fieldset class="section-container title-fieldset desc affinities resource-content">
    <legend class="resource-label-m">
        {{localize 'TS.SettingsHeader'}}
    </legend>

    <div class="header-fields grid grid-9col" style="margin: 5px 0;">
        <input type="text" name='ts-baseSheet' value="{{baseSheet}}" data-dtype="ActorSheet"/>
    </div>

    <a class="resource-label-m technosphere-apply">{{localize 'TS.SettingsButton'}}</a>

</fieldset>