.jsinclude
node_modules
.vscode/settings.json
*.lock
out
build
fabula-ultima-technosphere-machine.zip

# Uneeded LevelDB files. "*.ldb", "MANIFEST-*", and "CURRENT" are required for FVTT to correctly read the database.
packs/**/*.log
packs/**/LOG
packs/**/LOG.old
packs/**/LOCK

foundry-config.json