.jsinclude
node_modules
.vscode/settings.json
*.lock
out
build
fabula-ultima-technosphere-machine.zip

packs/mnemosphere-rollable-tables/*
!packs/mnemosphere-rollable-tables/_source/

foundry-config.json