<div class="heroic-skill-popup foundry-dialog">
    <header class="dialog-header">
        <h2 class="dialog-title">Choose your Heroic Skill</h2>
    </header>
    <section class="dialog-content">
        <div class="drop-target" data-action="dropHeroicSkill">
            <p style="color: black;">Drop a skill from a compendium here.</p>
        </div>
    </section>
</div>
