<div class="tab" data-tab="technosphere-machine">
    {{#if isGM}}
    <fieldset class="section-container title-fieldset desc resource-content">
        <legend class="resource-label-m">
            Technosphere Machine Settings (GM)
        </legend>
        <div class="header-fields grid grid-9col" style="margin: 5px 0;">
            <label for="ts-sphere-table" style="grid-column: span 2;">Roll Table UUID</label>
            <input type="text" id="ts-sphere-table" name="ts-sphere-table" value="{{rollableTable}}" style="grid-column: span 6;" data-dtype="RollTable" />
            <a class="clear-button" id="clear-ts-sphere-table" title="Clear Roll Table UUID" style="grid-column: span 1; text-align: center; cursor: pointer; line-height: inherit;">&#10006;</a>
        </div>
    {{/if}}
    </fieldset>
    <fieldset class="section-container title-fieldset desc resource-content">
        <legend class="resource-label-m">
            Technosphere Machine
        </legend>
        <div class="memnosphere-selection-area" style="margin: 5px 0;">
            <div class="memnosphere-grid">
                {{!-- "Create New Memnosphere" card --}}
                <div class="memnosphere-card item-card interactive {{#unless existingSphere}}selected{{/unless}}" data-uuid="" data-action="selectMemnosphere" title="Create New Memnosphere">
                    <div class="plate border">
                        <div class="name" style="text-align: center; font-weight: bold;">Create New</div>
                        <i class="fas fa-plus-circle" style="font-size: 2.5em; display: block; text-align: center; margin-top: 8px;"></i>
                    </div>
                </div>
            </div>

            {{#if characterMemnospheres}}
            <label class="resource-label" style="display: block; margin-bottom: 8px; font-weight: bold;">Character Inventory</label>
            <div class="memnosphere-grid">
                {{#each characterMemnospheres}}
                    {{> "modules/fabula-ultima-technosphere-machine/templates/inject/party-sheet/memnosphere-card.hbs"
                        this=this
                        selectedUUID=existingSphere
                    }}
                {{/each}}
            </div>
            {{/if}}

            {{#if partyMemnospheres}}
            <label class="resource-label" style="display: block; margin-bottom: 8px; font-weight: bold;">Party Inventory</label>
            <div class="memnosphere-grid">
                {{#each partyMemnospheres}}
                    {{> "modules/fabula-ultima-technosphere-machine/templates/inject/party-sheet/memnosphere-card.hbs"
                        this=this
                        selectedUUID=existingSphere
                    }}
                {{/each}}
            </div>
            {{/if}}
        </div>
        <div style="margin-top: 10px;">
            <button type="button" class="technosphere-roll button button-style" style="width: 100%;">
                <i class="icon ra ra-dice-five"></i> Roll Memnosphere
            </button>
        </div>
    </fieldset>
</div>
