<div class="header-fields grid grid-9col" style="margin: 5px 0;">
    <input type="text" name='ts-sphere-table' value="{{rollableTable}}" />
</div>

 <div class="header-fields grid grid-9col" style="margin: 5px 0;">
    <input type="text" name='ts-existingSphere' value="{{existingSphere}}" />
</div>

<div class="tab" data-tab="technosphere-machine">
    <a class='technosphere-roll'> Hello world! </a>
</div>

